html {
  height: 100%;
}

h1 {
  color: pink;
  text-align: center;
  text-shadow: 2px 2px 5px darkpink;
  font-family: "Lucida Handwriting", cursive;
}

.right-align {
  text-align: right;
}

ul {
  list-style-type: none;
  margin: 20;
  padding: 0;
}

li {
  list-style: none;
  display: inline;
  margin: 0 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: pink;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: pink;
}

tr:nth-child(even) {
  background-color: pink;
}

tr:hover {
  background-color: darkpink;
}

.inputbox_payroll {
  margin-bottom: 20px;
  color: pink;
}

.inputbox_payroll input {
  margin-bottom: 10px;
  color: black;
}

.delete {
  margin-bottom: 10px;
  color: pink;
}

.button-row {
  display: flex;
  flex-direction: row;
  align-items: center; 
  float: left;
}

button {
  display: block;
  border-radius: 2em;
  background-color: pink;
  box-shadow: 0 3px 10px 0 darkpink;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 20px;
  float: left;
}

button:hover {
  background-color: none;
}

button:active {
  background-color: pink;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.rmv {
  padding: 8px 16px;
  background-color: pink;
  color: darkpink;
  font-weight: 100;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.rmv:hover {
  background-color: pink;
}

body {
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(Images/love.jpg);
  background-size: cover;
  background-position: center;
}

a:link,
a:visited,
a:active {
  color: pink;
}

a:hover {
  color: navy;
}

.result #result {
  color: pink;
}
